In [1]:
import pandas as pd
import numpy as np
import requests
import time
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import seaborn as sns

# Gather

## Twitter archive

In [2]:
#read csv file
df1= pd.read_csv('twitter-archive-enhanced.csv')

## Image Predictions

In [3]:
#use request to download tsv file from a website
url ='https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

with open (url.split('/')[-1], mode = 'wb') as file:
    file.write(response.content)
    
#read downloaded file (tsv)

df2 = pd.read_csv('image-predictions.tsv', sep = ('\t'))

## API Data

In [4]:
#read json file
df3= pd.read_json('tweet-json.txt', lines = True)

# Access

In [5]:
df1.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [6]:
df1.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [8]:
df1['rating_numerator'].sort_values()

315        0
1016       0
2335       1
2261       1
2338       1
        ...
2074     420
188      420
189      666
313      960
979     1776
Name: rating_numerator, Length: 2356, dtype: int64

In [9]:
df1['rating_denominator'].sort_values()

313       0
2335      2
516       7
1576     10
1575     10
       ...
1635    110
1779    120
1634    130
902     150
1120    170
Name: rating_denominator, Length: 2356, dtype: int64

In [10]:
df1.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [11]:
df1.duplicated().sum()

0

In [12]:
df1.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [13]:
df1.name.value_counts()

None       745
a           55
Charlie     12
Cooper      11
Lucy        11
          ...
Venti        1
Duchess      1
Meera        1
Eriq         1
Fiji         1
Name: name, Length: 957, dtype: int64

In [14]:
df1.query('expanded_urls == "None" | tweet_id  == "None" | in_reply_to_status_id == "None"| in_reply_to_user_id == "None" | timestamp == "None" | source == "None" | text == "None" | retweeted_status_id == "None" | retweeted_status_user_id == "None" | retweeted_status_timestamp == "None"| expanded_urls  == "None"|rating_numerator == "None"|rating_denominator == "None"')

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [15]:
df2.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [16]:
df2.tail()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [18]:
df2.img_num.value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

In [19]:
df2.duplicated().sum()

0

In [20]:
df2.groupby(['tweet_id'])['jpg_url'].value_counts()

tweet_id            jpg_url
666020888022790149  https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg    1
666029285002620928  https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg    1
666033412701032449  https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg    1
666044226329800704  https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg    1
666049248165822465  https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg    1
                                                                      ..
891327558926688256  https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg    1
891689557279858688  https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg    1
891815181378084864  https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg    1
892177421306343426  https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg    1
892420643555336193  https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg    1
Name: jpg_url, Length: 2075, dtype: int64

In [21]:
df3.head()

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,2017-08-01 16:23:56+00:00,892420643555336193,892420643555336192,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,39467,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
1,2017-08-01 00:17:27+00:00,892177421306343426,892177421306343424,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,33819,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
2,2017-07-31 00:18:03+00:00,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,25461,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
3,2017-07-30 15:58:51+00:00,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,42908,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN
4,2017-07-29 16:00:24+00:00,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,41048,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN

In [22]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2354 non-null   datetime64[ns, UTC]
 1   id                             2354 non-null   int64
 2   id_str                         2354 non-null   int64
 3   full_text                      2354 non-null   object
 4   truncated                      2354 non-null   bool
 5   display_text_range             2354 non-null   object
 6   entities                       2354 non-null   object
 7   extended_entities              2073 non-null   object
 8   source                         2354 non-null   object
 9   in_reply_to_status_id          78 non-null     float64
 10  in_reply_to_status_id_str      78 non-null     float64
 11  in_reply_to_user_id            78 non-null     float64
 12  in_reply_to_user_id_str        78 non-null     float64
 13  in_reply_to_screen_name        78 non-null     object
 14  user                           2354 non-null   object
 15  geo                            0 non-null      float64
 16  coordinates                    0 non-null      float64
 17  place                          1 non-null      object
 18  contributors                   0 non-null      float64
 19  is_quote_status                2354 non-null   bool
 20  retweet_count                  2354 non-null   int64
 21  favorite_count                 2354 non-null   int64
 22  favorited                      2354 non-null   bool
 23  retweeted                      2354 non-null   bool
 24  possibly_sensitive             2211 non-null   float64
 25  possibly_sensitive_appealable  2211 non-null   float64
 26  lang                           2354 non-null   object
 27  retweeted_status               179 non-null    object
 28  quoted_status_id               29 non-null     float64
 29  quoted_status_id_str           29 non-null     float64
 30  quoted_status                  28 non-null     object
dtypes: bool(4), datetime64[ns, UTC](1), float64(11), int64(4), object(11)
memory usage: 505.9+ KB

In [23]:
df3.describe()

,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,geo,coordinates,contributors,retweet_count,favorite_count,possibly_sensitive,possibly_sensitive_appealable,quoted_status_id,quoted_status_id_str
count,2.354000e+03,2.354000e+03,7.800000e+01,7.800000e+01,7.800000e+01,7.800000e+01,0.0,0.0,0.0,2354.000000,2354.000000,2211.0,2211.0,2.900000e+01,2.900000e+01
mean,7.426978e+17,7.426978e+17,7.455079e+17,7.455079e+17,2.014171e+16,2.014171e+16,NaN,NaN,NaN,3164.797366,8080.968564,0.0,0.0,8.162686e+17,8.162686e+17
std,6.852812e+16,6.852812e+16,7.582492e+16,7.582492e+16,1.252797e+17,1.252797e+17,NaN,NaN,NaN,5284.770364,11814.771334,0.0,0.0,6.164161e+16,6.164161e+16
min,6.660209e+17,6.660209e+17,6.658147e+17,6.658147e+17,1.185634e+07,1.185634e+07,NaN,NaN,NaN,0.000000,0.000000,0.0,0.0,6.721083e+17,6.721083e+17
25%,6.783975e+17,6.783975e+17,6.757419e+17,6.757419e+17,3.086374e+08,3.086374e+08,NaN,NaN,NaN,624.500000,1415.000000,0.0,0.0,7.888183e+17,7.888183e+17
50%,7.194596e+17,7.194596e+17,7.038708e+17,7.038708e+17,4.196984e+09,4.196984e+09,NaN,NaN,NaN,1473.500000,3603.500000,0.0,0.0,8.340867e+17,8.340867e+17
75%,7.993058e+17,7.993058e+17,8.257804e+17,8.257804e+17,4.196984e+09,4.196984e+09,NaN,NaN,NaN,3652.000000,10122.250000,0.0,0.0,8.664587e+17,8.664587e+17
max,8.924206e+17,8.924206e+17,8.862664e+17,8.862664e+17,8.405479e+17,8.405479e+17,NaN,NaN,NaN,79515.000000,132810.000000,0.0,0.0,8.860534e+17,8.860534e+17

### Quality

#### df1
 - tweet-id should be in str
 - Timestamp in str format, should be in datetime.
 - Erroneous datatypes (in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id ), should be in int instead of float, or maybe in str because we dont need to calculate anything with these collumns. 
 - rating_nominator and rating_denominator may have incorrect values.
 - Name collumn has invalid values such as None, a.

#### df2
 - tweet-id should be in str
 


#### df3
 - All id collumns should be in str


### Tidiness

#### df1
 - 4 types of dogs (doggo,floofer,pupper,puppo) can be in the same collumn.
 - Some non-nessessary collumns can be deleted.


#### df2
- Some non-nessessary collumns can be deleted.
- Merge into one dataset.

#### df3
- Some non-nessessary collumns can be deleted.
- Merge into one dataset.

# Cleaning

## Tidiness

In [24]:
#make copies of each dataframe to clean
df1_clean= df1.copy()
df2_clean= df2.copy()
df3_clean= df3.copy()

In [25]:
#first we need to merge 3 data into one dataframe
#change collumn id in df3_clean into tweet_id
df3_clean.rename(columns = {'id':'tweet_id'}, inplace = True)

In [26]:
#drop all unnessessary columns in df3_clean, only get 3 columns in df3_clean
df3_clean= df3_clean[['tweet_id', 'retweet_count','favorite_count']]
df3_clean.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819
2  891815181378084864           4328           25461
3  891689557279858688           8964           42908
4  891327558926688256           9774           41048

In [27]:
#merge 3 data tables into one
df_master= pd.merge(df1_clean, df2_clean, how = 'inner', on = ['tweet_id'] )
df_master= pd.merge(df_master, df3_clean, how = 'inner', on = ['tweet_id'] )
df_master

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,0.097049,False,bagel,0.085851,False,banana,0.076110,False,8853,39467
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True,6514,33819
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True,4328,25461
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,8964,42908
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,9774,41048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2068,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,...,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True,41,111
2069,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,...,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True,147,311
2070,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,...,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True,47,128
2071,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,...,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True,48,132
2072,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,...,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True,532,2535

#### Define

Drop retweeted

#### Code

In [28]:
df_master = df_master[df_master['retweeted_status_id'].isnull()]
df_master

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,0.097049,False,bagel,0.085851,False,banana,0.076110,False,8853,39467
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True,6514,33819
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True,4328,25461
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,8964,42908
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,9774,41048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2068,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,...,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True,41,111
2069,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,...,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True,147,311
2070,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,...,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True,47,128
2071,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,...,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True,48,132
2072,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,...,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True,532,2535

#### Check

In [29]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1994 entries, 0 to 2072
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    1994 non-null   int64
 1   in_reply_to_status_id       23 non-null     float64
 2   in_reply_to_user_id         23 non-null     float64
 3   timestamp                   1994 non-null   object
 4   source                      1994 non-null   object
 5   text                        1994 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               1994 non-null   object
 10  rating_numerator            1994 non-null   int64
 11  rating_denominator          1994 non-null   int64
 12  name                        1994 non-null   object
 13  doggo                       1994 non-null   object
 14  floofer                     1994 non-null   object
 15  pupper                      1994 non-null   object
 16  puppo                       1994 non-null   object
 17  jpg_url                     1994 non-null   object
 18  img_num                     1994 non-null   int64
 19  p1                          1994 non-null   object
 20  p1_conf                     1994 non-null   float64
 21  p1_dog                      1994 non-null   bool
 22  p2                          1994 non-null   object
 23  p2_conf                     1994 non-null   float64
 24  p2_dog                      1994 non-null   bool
 25  p3                          1994 non-null   object
 26  p3_conf                     1994 non-null   float64
 27  p3_dog                      1994 non-null   bool
 28  retweet_count               1994 non-null   int64
 29  favorite_count              1994 non-null   int64
dtypes: bool(3), float64(7), int64(6), object(14)
memory usage: 442.0+ KB

#### Define

Remove retweeted columns

#### Code

In [30]:
df_master= df_master.drop('retweeted_status_id', axis =1)
df_master= df_master.drop('retweeted_status_user_id', axis =1)
df_master= df_master.drop('retweeted_status_timestamp', axis =1)

#### Check

In [31]:
df_master.shape

(1994, 27)

#### Define

Combine 4 dog types into one column

#### Code

In [32]:
dog = ['doggo', 'floofer', 'pupper', 'puppo']
list1= list(df_master.columns)
list2 = []
for x in list1:
    if x in dog:
        continue
    list2.append(x)
print(list2)
print(dog)

['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp', 'source', 'text', 'expanded_urls', 'rating_numerator', 'rating_denominator', 'name', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog', 'retweet_count', 'favorite_count']
['doggo', 'floofer', 'pupper', 'puppo']

In [33]:
# make 4 dog_types column become one column
df_master = df_master.melt(id_vars = list2, value_vars = dog, var_name = 'types', value_name = 'dog_type')
df_master

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,...,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count,types,dog_type
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,...,bagel,0.085851,False,banana,0.076110,False,8853,39467,doggo,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,...,Pekinese,0.090647,True,papillon,0.068957,True,6514,33819,doggo,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,...,malamute,0.078253,True,kelpie,0.031379,True,4328,25461,doggo,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,...,Labrador_retriever,0.168086,True,spatula,0.040836,False,8964,42908,doggo,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,...,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,9774,41048,doggo,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7971,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,https://twitter.com/dog_rates/status/666049248...,5,10,None,...,Rottweiler,0.243682,True,Doberman,0.154629,True,41,111,puppo,None
7972,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,https://twitter.com/dog_rates/status/666044226...,6,10,a,...,redbone,0.360687,True,miniature_pinscher,0.222752,True,147,311,puppo,None
7973,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,https://twitter.com/dog_rates/status/666033412...,9,10,a,...,malinois,0.138584,True,bloodhound,0.116197,True,47,128,puppo,None
7974,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,https://twitter.com/dog_rates/status/666029285...,7,10,a,...,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True,48,132,puppo,None
7975,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,8,10,None,...,collie,0.156665,True,Shetland_sheepdog,0.061428,True,532,2535,puppo,None

In [34]:
#drop column types name
df_master = df_master.drop('types', 1)

In [35]:
# check that column types name is dropped 
df_master.shape

(7976, 24)

In [36]:
df_master

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,...,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count,dog_type
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,...,False,bagel,0.085851,False,banana,0.076110,False,8853,39467,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,...,True,Pekinese,0.090647,True,papillon,0.068957,True,6514,33819,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,...,True,malamute,0.078253,True,kelpie,0.031379,True,4328,25461,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,...,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,8964,42908,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,...,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,9774,41048,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7971,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,https://twitter.com/dog_rates/status/666049248...,5,10,None,...,True,Rottweiler,0.243682,True,Doberman,0.154629,True,41,111,None
7972,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,https://twitter.com/dog_rates/status/666044226...,6,10,a,...,True,redbone,0.360687,True,miniature_pinscher,0.222752,True,147,311,None
7973,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,https://twitter.com/dog_rates/status/666033412...,9,10,a,...,True,malinois,0.138584,True,bloodhound,0.116197,True,47,128,None
7974,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,https://twitter.com/dog_rates/status/666029285...,7,10,a,...,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True,48,132,None
7975,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,8,10,None,...,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True,532,2535,None

In [37]:
df_master.dog_type.value_counts()

None       7659
pupper      212
doggo        74
puppo        23
floofer       8
Name: dog_type, dtype: int64

In [38]:
df_master.groupby(df_master['tweet_id'])['dog_type'].value_counts().sort_values()

tweet_id            dog_type
673707060090052608  pupper      1
817777686764523521  doggo       1
                    pupper      1
756526248105566208  doggo       1
701545186879471618  pupper      1
                               ..
687807801670897665  None        4
687664829264453632  None        4
687494652870668288  None        4
688908934925697024  None        4
892420643555336193  None        4
Name: dog_type, Length: 2311, dtype: int64

In [39]:
#sort dog_type in order 
df_master = df_master.sort_values('dog_type')
df_master

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,...,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count,dog_type
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,...,False,bagel,0.085851,False,banana,0.076110,False,8853,39467,None
5315,683030066213818368,NaN,NaN,2016-01-01 21:00:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Lulu. She's contemplating all her unre...,https://twitter.com/dog_rates/status/683030066...,10,10,Lulu,...,True,bull_mastiff,0.193804,True,French_bulldog,0.055194,True,832,2370,None
5313,683098815881154561,NaN,NaN,2016-01-02 01:33:43 +0000,"<a href=""http://twitter.com/download/iphone"" r...",aahhhhkslaldhwnxmzbbs 12/10 for being da smoos...,https://twitter.com/dog_rates/status/683098815...,12,10,None,...,True,kuvasz,0.053008,True,Labrador_retriever,0.037881,True,736,2361,None
5310,683357973142474752,NaN,NaN,2016-01-02 18:43:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""Have a seat, son. There are some things we ne...",https://twitter.com/dog_rates/status/683357973...,10,10,None,...,True,Cardigan,0.154854,True,Siberian_husky,0.136366,True,1059,3238,None
5309,683391852557561860,NaN,NaN,2016-01-02 20:58:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Say hello to Jack (pronounced ""Kevin""). He's a...",https://twitter.com/dog_rates/status/683391852...,11,10,Jack,...,True,Boston_bull,0.004749,True,pug,0.001392,True,2702,8356,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,790946055508652032,NaN,NaN,2016-10-25 16:00:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Betty. She's assisting with the dishes...,https://twitter.com/dog_rates/status/790946055...,12,10,Betty,...,False,golden_retriever,0.245773,True,chow,0.039012,True,5496,18601,puppo
6087,867421006826221569,NaN,NaN,2017-05-24 16:44:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Shikha. She just watched you drop a sk...,https://twitter.com/dog_rates/status/867421006...,12,10,Shikha,...,True,Siberian_husky,0.381330,True,malamute,0.001670,True,2697,16755,puppo
6044,878776093423087618,NaN,NaN,2017-06-25 00:45:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Snoopy. He's a proud #PrideMonthPuppo....,https://twitter.com/dog_rates/status/878776093...,13,10,Snoopy,...,True,whippet,0.150487,True,Ibizan_hound,0.039725,True,4319,19763,puppo
6279,825535076884762624,NaN,NaN,2017-01-29 02:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a very loving and accepting puppo. Appe...,https://twitter.com/dog_rates/status/825535076...,14,10,None,...,True,Tibetan_mastiff,0.147940,True,black-and-tan_coonhound,0.024525,True,19669,56413,puppo
6764,743253157753532416,NaN,NaN,2016-06-16 01:25:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Kilo. He cannot reach the snackum. Nif...,https://twitter.com/dog_rates/status/743253157...,10,10,Kilo,...,True,Siberian_husky,0.368137,True,Eskimo_dog,0.177822,True,1366,4624,puppo

In [40]:
#keep only one tweet_id for dog_type and we get the last one.
df_master = df_master.sort_values('dog_type').drop_duplicates('tweet_id', keep = 'last')
df_master

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,...,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count,dog_type
4655,757725642876129280,NaN,NaN,2016-07-25 23:54:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Beckham. He fell asleep at the wheel. ...,https://twitter.com/dog_rates/status/757725642...,11,10,Beckham,...,False,Labrador_retriever,0.128128,True,Siamese_cat,0.091241,False,1391,5022,None
4705,750117059602808832,NaN,NaN,2016-07-05 00:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Calvin. He just loves America so much....,https://twitter.com/dog_rates/status/750117059...,10,10,Calvin,...,True,Lhasa,0.175220,True,Pekinese,0.008072,True,1466,4740,None
4706,750101899009982464,NaN,NaN,2016-07-04 23:00:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Lilah. She agreed on one quick pic. Now s...,https://twitter.com/dog_rates/status/750101899...,11,10,Lilah,...,True,llama,0.174269,False,Labrador_retriever,0.147364,True,959,3344,None
4654,757741869644341248,NaN,NaN,2016-07-26 00:58:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Leonard. He hides in bushes to escape ...,https://twitter.com/dog_rates/status/757741869...,10,10,Leonard,...,False,Old_English_sheepdog,0.128899,True,Siberian_husky,0.019076,True,3710,7613,None
4651,758405701903519748,NaN,NaN,2016-07-27 20:56:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Odie. He falls asleep wherever he want...,https://twitter.com/dog_rates/status/758405701...,10,10,Odie,...,True,laptop,0.092277,False,notebook,0.032727,False,2204,5756,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5996,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,...,True,Labrador_retriever,0.013834,True,redbone,0.007958,True,2321,15359,puppo
6281,825026590719483904,NaN,NaN,2017-01-27 17:04:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Pablo. He's one gorgeous puppo. A...,https://www.gofundme.com/my-puppys-double-cata...,12,10,Pablo,...,True,Siberian_husky,0.467678,True,malamute,0.004976,True,1483,7020,puppo
6279,825535076884762624,NaN,NaN,2017-01-29 02:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a very loving and accepting puppo. Appe...,https://twitter.com/dog_rates/status/825535076...,14,10,None,...,True,Tibetan_mastiff,0.147940,True,black-and-tan_coonhound,0.024525,True,19669,56413,puppo
6481,787717603741622272,NaN,NaN,2016-10-16 18:11:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tonks. She is a service puppo. Can hea...,https://twitter.com/dog_rates/status/787717603...,13,10,Tonks,...,True,malinois,0.004920,True,kelpie,0.000853,True,3240,11416,puppo
6764,743253157753532416,NaN,NaN,2016-06-16 01:25:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Kilo. He cannot reach the snackum. Nif...,https://twitter.com/dog_rates/status/743253157...,10,10,Kilo,...,True,Siberian_husky,0.368137,True,Eskimo_dog,0.177822,True,1366,4624,puppo

#### Check

In [41]:
df_master.shape

(1994, 24)

#### Define
Delete unnecessary columns

#### Code

In [42]:
df_master.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'jpg_url', 'img_num', 'p1', 'p1_conf',
       'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog',
       'retweet_count', 'favorite_count', 'dog_type'],
      dtype='object')

In [43]:
df_master= df_master.drop('img_num', axis =1)
df_master= df_master.drop('p1', axis =1)
df_master= df_master.drop('p1_conf', axis =1)
df_master= df_master.drop('p1_dog', axis =1)
df_master= df_master.drop('p2', axis =1)
df_master= df_master.drop('p2_conf', axis =1)
df_master= df_master.drop('p2_dog', axis =1)
df_master= df_master.drop('p3', axis =1)
df_master= df_master.drop('p3_conf', axis =1)
df_master= df_master.drop('p3_dog', axis =1)

#### Check

In [44]:
df_master.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'jpg_url', 'retweet_count',
       'favorite_count', 'dog_type'],
      dtype='object')

## Quality

In [45]:
df_master.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,jpg_url,retweet_count,favorite_count,dog_type
4655,757725642876129280,NaN,NaN,2016-07-25 23:54:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Beckham. He fell asleep at the wheel. ...,https://twitter.com/dog_rates/status/757725642...,11,10,Beckham,https://pbs.twimg.com/media/CoP7c4bWcAAr55g.jpg,1391,5022,None

#### Define

Change datatype of tweet_id,in_reply_to_status_id,in_reply_to_user_id , dog_type and timestamp

#### Code

In [46]:
df_master.tweet_id = df_master.tweet_id.astype(str)
df_master.in_reply_to_status_id  = df_master.in_reply_to_status_id .astype(str)
df_master.in_reply_to_user_id= df_master.in_reply_to_user_id.astype(str)

In [47]:
df_master.timestamp= pd.to_datetime(df_master.timestamp)

In [48]:
df_master.dog_type=df_master.dog_type.astype('category')

#### Check

In [49]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1994 entries, 4655 to 6764
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tweet_id               1994 non-null   object
 1   in_reply_to_status_id  1994 non-null   object
 2   in_reply_to_user_id    1994 non-null   object
 3   timestamp              1994 non-null   datetime64[ns, UTC]
 4   source                 1994 non-null   object
 5   text                   1994 non-null   object
 6   expanded_urls          1994 non-null   object
 7   rating_numerator       1994 non-null   int64
 8   rating_denominator     1994 non-null   int64
 9   name                   1994 non-null   object
 10  jpg_url                1994 non-null   object
 11  retweet_count          1994 non-null   int64
 12  favorite_count         1994 non-null   int64
 13  dog_type               1994 non-null   category
dtypes: category(1), datetime64[ns, UTC](1), int64(4), object(8)
memory usage: 220.2+ KB

#### Define

Change html source to easy text to understand

#### Code

In [50]:
#check content of many sources
df_master.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     1955
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       28
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [51]:
#change html links to short texts
df_master.source= df_master.source.str.replace('<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'Twitter for iPhone')
df_master.source= df_master.source.str.replace('<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>', 'Twitter Web Client')
df_master.source = df_master.source.str.replace('<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>', 'TweetDeck')

#### Check

In [52]:
df_master.source.value_counts()

Twitter for iPhone    1955
Twitter Web Client      28
TweetDeck               11
Name: source, dtype: int64

In [53]:
#change source type to category 
df_master.source.astype('category')

4655    Twitter for iPhone
4705    Twitter for iPhone
4706    Twitter for iPhone
4654    Twitter for iPhone
4651    Twitter for iPhone
               ...
5996    Twitter for iPhone
6281    Twitter for iPhone
6279    Twitter for iPhone
6481    Twitter for iPhone
6764    Twitter for iPhone
Name: source, Length: 1994, dtype: category
Categories (3, object): ['TweetDeck', 'Twitter Web Client', 'Twitter for iPhone']

In [54]:
df_master.source.value_counts()

Twitter for iPhone    1955
Twitter Web Client      28
TweetDeck               11
Name: source, dtype: int64

#### Define

Display full text column

#### Code

In [55]:
pd.options.display.max_colwidth = 10000

#### Check

In [56]:
df_master.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,jpg_url,retweet_count,favorite_count,dog_type
4655,757725642876129280,nan,nan,2016-07-25 23:54:05+00:00,Twitter for iPhone,This is Beckham. He fell asleep at the wheel. Very churlish. Looks to have a backpup driver tho. That's good. 11/10 https://t.co/rptsOm73Wr,"https://twitter.com/dog_rates/status/757725642876129280/photo/1,https://twitter.com/dog_rates/status/757725642876129280/photo/1",11,10,Beckham,https://pbs.twimg.com/media/CoP7c4bWcAAr55g.jpg,1391,5022,None

#### Define
Remove replies

#### Code

In [57]:
df_master.in_reply_to_status_id.value_counts()

nan                      1971
6.671521640794235e+17       2
6.678064545737605e+17       1
8.55818117272019e+17        1
7.468859193875743e+17       1
7.291135312709919e+17       1
7.03255935813288e+17        1
6.914168664520827e+17       1
6.717299066283418e+17       1
7.030419496500347e+17       1
6.75349384339542e+17        1
6.747522332008202e+17       1
6.715610021362811e+17       1
6.70668383499735e+17        1
7.33109485275861e+17        1
6.842228683355054e+17       1
6.754971033223864e+17       1
7.590995235327795e+17       1
6.749998076819087e+17       1
6.747933991411466e+17       1
6.844810745593815e+17       1
6.75707330206548e+17        1
6.920419346894029e+17       1
Name: in_reply_to_status_id, dtype: int64

In [58]:
df_master=df_master.query('in_reply_to_status_id == "nan"')

#### Check

In [59]:
df_master.shape

(1971, 14)

In [60]:
#drop in_reply_to_status_id and in_reply_to_user_id
df_master= df_master.drop('in_reply_to_status_id', axis =1)

In [61]:
df_master = df_master.drop('in_reply_to_user_id', axis =1)

In [62]:
df_master.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,jpg_url,retweet_count,favorite_count,dog_type
4655,757725642876129280,2016-07-25 23:54:05+00:00,Twitter for iPhone,This is Beckham. He fell asleep at the wheel. Very churlish. Looks to have a backpup driver tho. That's good. 11/10 https://t.co/rptsOm73Wr,"https://twitter.com/dog_rates/status/757725642876129280/photo/1,https://twitter.com/dog_rates/status/757725642876129280/photo/1",11,10,Beckham,https://pbs.twimg.com/media/CoP7c4bWcAAr55g.jpg,1391,5022,None
4705,750117059602808832,2016-07-05 00:00:18+00:00,Twitter for iPhone,This is Calvin. He just loves America so much. 10/10 would roll around in flag with https://t.co/RXdzWaCQHm,"https://twitter.com/dog_rates/status/750117059602808832/photo/1,https://twitter.com/dog_rates/status/750117059602808832/photo/1,https://twitter.com/dog_rates/status/750117059602808832/photo/1,https://twitter.com/dog_rates/status/750117059602808832/photo/1",10,10,Calvin,https://pbs.twimg.com/media/Cmjzc-oWEAESFCm.jpg,1466,4740,None
4706,750101899009982464,2016-07-04 23:00:03+00:00,Twitter for iPhone,Meet Lilah. She agreed on one quick pic. Now she'd like to go mentally prepare for the onslaught of fireworks. 11/10 https://t.co/enCpXzZHkD,"https://twitter.com/dog_rates/status/750101899009982464/photo/1,https://twitter.com/dog_rates/status/750101899009982464/photo/1",11,10,Lilah,https://pbs.twimg.com/media/Cmjlsh1XgAEvhq_.jpg,959,3344,None
4654,757741869644341248,2016-07-26 00:58:34+00:00,Twitter for iPhone,This is Leonard. He hides in bushes to escape his problems. 10/10 relatable af https://t.co/TdyGTcX0uo,"https://twitter.com/dog_rates/status/757741869644341248/photo/1,https://twitter.com/dog_rates/status/757741869644341248/photo/1",10,10,Leonard,https://pbs.twimg.com/media/CoQKNY7XYAE_cuX.jpg,3710,7613,None
4651,758405701903519748,2016-07-27 20:56:24+00:00,Twitter for iPhone,This is Odie. He falls asleep wherever he wants. Must be nice. 10/10 https://t.co/M9BXCSDVjh,"https://twitter.com/dog_rates/status/758405701903519748/photo/1,https://twitter.com/dog_rates/status/758405701903519748/photo/1,https://twitter.com/dog_rates/status/758405701903519748/photo/1,https://twitter.com/dog_rates/status/758405701903519748/photo/1",10,10,Odie,https://pbs.twimg.com/media/CoZl9fXWgAMox0n.jpg,2204,5756,None

#### Define

Remove html from text

#### Code

In [63]:
def remove_last_line_from_text(s):
    return s[:s.find('http')]

df_master.text= df_master.text.apply(remove_last_line_from_text)

#### Check

In [64]:
df_master.text.head(20)

4655     This is Beckham. He fell asleep at the wheel. Very churlish. Looks to have a backpup driver tho. That's good. 11/10
4705                                     This is Calvin. He just loves America so much. 10/10 would roll around in flag with
4706    Meet Lilah. She agreed on one quick pic. Now she'd like to go mentally prepare for the onslaught of fireworks. 11/10
4654                                          This is Leonard. He hides in bushes to escape his problems. 10/10 relatable af
4651                                                    This is Odie. He falls asleep wherever he wants. Must be nice. 10/10
4688            This is Brody. He's a lifeguard. Always prepared for rescue. 12/10 would fake drown just to get saved by him
4689                                      This is Ruby. Her ice cube is melting. She doesn't know what to do about it. 11/10
4690                                            This is Tucker. He's very camera shy. 12/10 would give stellar belly rubs to
4691                                                                   This is Toby. A cat got his tongue. 13/10 adorable af
4693                           This is Max. She has one ear that's always slightly more alert than the other. 10/10 wonky af
4695          This is Gilbert. He's being chased by a battalion of miniature floof cows. 10/10 we all believe in you Gilbert
4696               "This photographer took pics of her best friend before and after she told them they were beautiful" 12/10
4699      This is Meyer. He has to hold somebody's hand during car rides. He's also wearing a seatbelt. 12/10 responsible af
4701                                                         This is Arnie. He's a Nova Scotian Fridge Floof. Rare af. 12/10
4703                                                          And finally, happy 4th of July from the squad 🇺🇸 13/10 for all
4704                            This is Stewie. He will roundhouse kick anyone who questions his independence. 11/10 free af
4652       This is Corey. He's a Portobello Corgicool. Trying to convince you that he's not a hipster. 11/10 yea right Corey
4653    Teagan reads entire books in store so they're free. Loved 50 Shades of Grey (how dare I make that joke so late) 9/10
4645                                    This is Spencer. He's part of the Queen's Guard. Takes his job very seriously. 11/10
4648     Meet Boston. He's worried because his tongue won't fit all the way in his mouth. 12/10 it'll be ok deep breaths pup
Name: text, dtype: object

#### Define
Make year, month, day_of_week column

#### Code

In [65]:
df_master['year'] = df_master['timestamp'].dt.year
df_master['month'] = df_master['timestamp'].dt.month
df_master['day_of_week']= df_master['timestamp'].dt.weekday

In [66]:
df_master['month'].replace(1, 'January', inplace=True)
df_master['month'].replace(2, 'February', inplace=True)
df_master['month'].replace(3, 'March', inplace=True)
df_master['month'].replace(4, 'April', inplace=True)
df_master['month'].replace(5, 'May', inplace=True)
df_master['month'].replace(6, 'June', inplace=True)
df_master['month'].replace(7, 'July', inplace=True)
df_master['month'].replace(8, 'August', inplace=True)
df_master['month'].replace(9, 'September', inplace=True)
df_master['month'].replace(10, 'October', inplace=True)
df_master['month'].replace(11, 'November', inplace=True)
df_master['month'].replace(12, 'December', inplace=True)

In [67]:
df_master['day_of_week'].replace(0, 'Monday', inplace=True)
df_master['day_of_week'].replace(1, 'Tuesday', inplace=True)
df_master['day_of_week'].replace(2, 'Wednesday', inplace=True)
df_master['day_of_week'].replace(3, 'Thursday', inplace=True)
df_master['day_of_week'].replace(4, 'Friday', inplace=True)
df_master['day_of_week'].replace(5, 'Saturday', inplace=True)
df_master['day_of_week'].replace(6, 'Sunday', inplace=True)

#### Check

In [68]:
df_master.iloc[:,10:]

      favorite_count dog_type  year    month day_of_week
4655            5022     None  2016     July      Monday
4705            4740     None  2016     July     Tuesday
4706            3344     None  2016     July      Monday
4654            7613     None  2016     July     Tuesday
4651            5756     None  2016     July   Wednesday
...              ...      ...   ...      ...         ...
5996           15359    puppo  2017     July      Monday
6281            7020    puppo  2017  January      Friday
6279           56413    puppo  2017  January      Sunday
6481           11416    puppo  2016  October      Sunday
6764            4624    puppo  2016     June    Thursday

[1971 rows x 5 columns]

#### Define

Create dog name from text column and create new dog name column

#### Code

In [76]:
def get_dog_name(x):
    return x[:x.find('.')]

text = df_master.text
dog_name = text.apply(get_dog_name)

In [77]:
df_master['dog_name']= dog_name.str.rsplit(' ', 1).str[-1]

In [78]:
df_master['dog_name'].value_counts()

here            60
dogs            33
dog             24
12/10           18
pupper          15
                ..
Rinna            1
Pancake          1
Chesney          1
Ozzie            1
Cleopatricia     1
Name: dog_name, Length: 1274, dtype: int64

In [79]:
#drop old name column
df_master= df_master.drop('name', axis=1)

In [80]:
dog_name =[]
for name in list(df_master['dog_name']):
    if name.istitle():
        dog_name.append(name)
    else:
        dog_name.append('None')
df_master['dog_name']= dog_name

#### Check

In [81]:
df_master['dog_name'].value_counts().sort_values()

We           1
Corey        1
Mairi        1
Champ        1
Glenn        1
          ...
Lucy         9
Cooper      10
Oliver      11
Charlie     13
None       558
Name: dog_name, Length: 975, dtype: int64

#### Define

Create count_url column

#### Code

In [ ]:
count_url= df_master.expanded_urls.str.split(',').str.len()

In [95]:
df_master['count_url']= count_url

#### Check

In [98]:
df_master['count_url'].value_counts().sort_values()

5       8
4     105
3     110
2     282
1    1466
Name: count_url, dtype: int64